* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, footer {
    padding: 30px;
    background-color: whitesmoke;
}

.body{
    flex: 1;
    padding: 20px;
}
