{{>header}}
<h3>Hola, Bienvenido al sistema de Administración de cursos</h3>
<img src="https://www.tertiarycourses.com.sg/media/wysiwyg/skillsfuture-courses-singapore.jpg" 
class="img-fluid" 
alt="Responsive image" style="align: center;">
{{>footer}}